#blog {

  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  article {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em 1em;

    padding-top: 5em;

    h1 {
      color: #aaa;
      font-size: 1.4em;
      font-weight: 800;
      text-align: left;
      margin: 2em 0;
    }

    .posts {
      margin-top: 4em;

      span {
        color: #aaa;
      }
    }

  }
}
