#footer {

  footer {
    background: #fff;

    header {
      width: 960px;
      margin: 0 auto;
      padding: 2em 0;
      @include display-flex;
      @include flex-props(row wrap, space-between, space-between, center);

      label {
        position: relative;

        &:before {
          content: "";
          width: 25px;
          height: 17px;
          background: url(../assets/images/illus-envelope.png) no-repeat;
          -webkit-background-size: 100%;
          background-size: 100%;
          position: absolute;
          top: -2px;
          left: 15px;
        }
      }

      input[type="email"] {
        height: 40px;
        width: 260px;
        border-radius: 2px;
        border: 2px solid #c2c2c2;
        padding: 5px 0 2px 50px;
        line-height: 24px;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        -webkit-appearance: none;

        &:focus {
          border-color: #757575;
        }
      }

      button,
      input[type="submit"] {
        background: #80bc01;
        font-weight: bold;
        color: #fff;
        border: none;
        height: 40px;
        padding: 0 20px;
        border-radius: 20px;
        margin-left: 10px;
        transition: .15s background ease-in-out, .15s text-shadow ease-in-out;
        -moz-transition: .15s background ease-in-out, .15s text-shadow ease-in-out;
        -webkit-transition: .15s background ease-in-out, .15s text-shadow ease-in-out;

        &:hover {
          background: #93d801;
          text-shadow: 0px 1px 2px rgba(0,0,0,.3);
        }
      }

      li {
        display: inline-block;
        list-style: none;
        font-size: 1.2em;
        font-weight: bold;

        a {
          color: #c2c2c2;
          text-decoration: none;
          &:hover {
            color: #757575;
          }
        }

        &.text {
          margin: 0 15px 0 5px;
        }

        &.social {
          margin-left: 5px;

          a {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #000;
            color: #fff;

            &.fa-facebook {
              text-align: center;
              line-height: 30px;
              background: #035d97;
            }
            &.fa-twitter {
              text-align: center;
              line-height: 30px;
              background: #00bff3;
            }
            &.fa-github {
              font-size: 36px;
              line-height: 30px;
              position: relative;
              top: 6px;
              background: none;
              color: #000;
            }
          }
        }
      }
    }

    hr {
      width: 400px;
      margin: 0 auto;
      border: none;
      border-top: 2px solid #c2c2c2;
      position: relative;

      &:before {
        content: "";
        z-index: 1;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: -30px;
        margin-left: -30px;
        background: #fff;
      }
      &:after {
        content: "";
        display: block;
        width: 28px;
        height: 26px;
        position: absolute;
        left: 50%;
        background: url(../assets/images/logo-small.png);
        -webkit-background-size: 100%;
        background-size: 100%;
        top: -13px;
        margin-left: -14px;
        z-index: 2;
      }
    }

    small {
      font-size: 1em;
      text-align: center;
      display: block;
      padding: 2.5em 2em 2.5em 2em;

      a {
        color: #80bc01;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
