#hack {

  color: white;
  font-weight: 100;

  a {
    color: #29abe1;
    font-weight: bold;
    text-decoration: none;
  }

  article {
    max-width: 650px;
    margin: 0 auto;
    padding: 4em 1em;
    text-align: justify;

    img {
      width: 100%;
    }

    h1, h2, h3, h4 {
      text-align: left;
      color: #eee;
    }

    h1 {
      font-size: 1.6em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1em;
    }

    .meta {
      color: #888;
      margin-bottom: 2em;
    }

    .hack pre {
      border: 1px solid #ccc;
      background-color: #ccc;
      padding: 0 .4em;
      color: black;
      font-family: monospace;
      line-height: 0.9em;
    }

    .hack ul, .hack ol {
      margin-left: 1.35em;
    }

    .hack code {
      border: 1px solid #444;
      background-color: #444;
      padding: 0 .2em;
      color: white;
      font-family: monospace;
      font-size: 0.8em;
    }

    .hack pre code {
      background-color: #ccc;
      color: black;
      border: none;
    }

    /* terminal */
    .hack pre.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
    }

    .hack pre.terminal code {
      background-color: #333;
    }
  }
}
