#contribute {
  background: url(../assets/images/footer.jpg) no-repeat top center #3e3f3a;
  padding: 4em 0 0 0;

  h1 {
    color: #fff; 
    font-size: 2.4em;
    font-weight: 400;
    max-width: 960px;
  }
  h2 {
    color: #fff; 
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 2em;
    max-width: 960px;
  }
  h3, h4 { 
    font-weight: 100;
    //font-weight: bold; 
    margin: 0 auto; 
    color: #fff; 
    max-width: 960px;
  }
  h4 {
    font-weight: 400; 
    margin: 1em auto 1em;
  }

  div {
    text-align: center;
  }

  .btn-main {
    margin-top: 1.1em;
  }
}
