#contribute {
  background: url(../assets/images/footer.jpg) no-repeat top center #3e3f3a;
  padding: 4em 0 0 0;

  h3, h4 { 
    font-weight: bold; 
    margin: 0 auto; 
    color: #fff; 
    max-width: 960px;
  }
  h4 {
    font-weight: 400; 
    margin: 1em auto 1em;
  }

  div {
    text-align: center;
    padding-bottom: 4em;
  }
}
