@media (max-width: 960px) {
  #header {
    header {
      width: 100%;
      padding: 1em 2em;
    }
  }
  #footer {
    footer {
      header {
        width: 100%;
        padding: 2em;
      }
    }
  }
}

@media (max-width: 760px) {
  #footer {
    footer {
      header {
        display: block;
        text-align: center;
        width: 100%;

        ul {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .btn-main {
    font-size: 1em;
  }
  h3 {
    font-size: 2em;
    line-height: 1.1em;
  }
  h4 {
    font-size: 1.3em;
  }
  #header {
    ul {
      padding-left: 20px;
    }
  }
  #footer {
    padding-top: 2em;
    header {
      padding: 0 2em;
    }
    div {
      margin-bottom: 2em;
      padding-bottom: 0;
    }
    footer {
      header {
        input {
          width: 80%;
          margin-bottom: 1em;
        }
        button {
          width: 80%;
          margin-left: 0;
          margin-bottom: 1em;
        }
      }
      hr {
        width: 80%;
      }
    }
  }
}
