body {
  font: 13px "Source Sans Pro", Gadget, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

body a {
}

.hero {
  text-align: center;
  width: 100%;
  margin-top: 180px;
  vertical-align: top;
}

.group {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 767px){
  .group {
    display: block;
  }
}


.hero .logo {
  background-image: url('/assets/breach_logo.png');
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero .title {
  background-image: url('/assets/breach_title.png');
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.group.right {
  margin-left: 50px;
}

@media (max-width: 767px){
  .group.right {
    padding: 20px;
    margin-left: 0px;
  }
}

.tagline {
  margin-top: 20px;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.subgroup {
  margin-left: 60px;
  margin-top: 50px;
}

@media (max-width: 767px){
  .subgroup {
    margin-left: 0px;
  }
}

.signup {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 100px;
}

@media (max-width: 767px){
  .signup {
    text-align: center;
  }
}

.signup input {
  margin-top: 10px;
}

.signup input[type=email] {
  border-radius: 1px;
  background-color: #aee1ff;
  padding: 10px;
  border: none;
  outline-style: none;
  color: white;
  color: #03a1ff;
  width: 200px;
}

.signup input[type=submit] {
  border-radius: 1px;
  background: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #03a1ff;
  margin-left: 10px;
  cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #03a1ff;
  opacity: 0.7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #03a1ff;
  opacity: 0.7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #03a1ff;
  opacity: 0.7;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #03a1ff;
  opacity: 0.7;
}

div.footer.right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 300;
  font-size: 1.2em;
}

@media (max-width: 767px){
  div.footer.right {
    top: 20px;
    left: 20px;
  }
}

a.link {
  color: white;
  text-decoration: none !important;
  margin-left: 10px;
}

a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
  text-decoration: none;
  color: white;
}

