.out {
  position: absolute;
  background-color: black;
  width: 100%;
}

.out .header {
  background-color: hsl(0, 0%, 20%);
  padding: 10px;
  color: white;
}

.out .header a {
  color: white;
  text-decoration: none;
}

.out .header .module {
  font-weight: bold;
}

.out .header .file {
  font-style: italic;
}

.out pre {
  color: hsl(200, 50%, 90%);
}
