.out {
  position: absolute;
  background-color: black;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.out .header {
  position: absolute;
  background-color: hsl(0, 0%, 20%);
  color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  height: 15px;
}

.out .header a {
  color: hsl(198, 75%, 55%);
  text-decoration: none;
}

.out .header .module {
  font-weight: bold;
}

.out .header .file {
  font-style: italic;
}

.out .wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 35px;
  bottom: 0px;
  overflow-y: scroll;
}

.out .wrapper pre {
  color: hsl(200, 50%, 90%);
}
