.btn-main {
	background: #80bc01;
	font-size: 1.2em;
	text-align: center;
	display: inline-block;
	border-radius: 40px;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,.2);
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 18px 30px;
	margin-bottom: 2.6em;
	transition: .15s background ease-in-out, .15s text-shadow ease-in-out;
	-moz-transition: .15s background ease-in-out, .15s text-shadow ease-in-out;
	-webkit-transition: .15s background ease-in-out, .15s text-shadow ease-in-out;

	&:before {
		font-size: 1.4em;
		vertical-align: middle;
		margin-right: 10px;
	}

	&:hover {
		background: #93d801;
		text-shadow: 0px 1px 2px rgba(0,0,0,.3);
	}
}