<div class="modules">

  <div class="container">

    <table border="0" ng-cloak>
      <tr>
        <th colspan="5">Core</th>
      </tr>
      <tr>
        <td>Breach</td>
        <td>v{{about.version}}</td>
        <!-- UPDATE -->
        <td ng-hide="about.update_ready || about.update_available" class="green">
          up to date
        </td>
        <td ng-show="about.update_ready || about.update_available" class="red">
          need update [v{{about.update.version}}]
        </td>
        <td ng-show="about.update_ready" class="orange">
          <a href="" ng-click="install_breach()">install &amp; restart</a>
        </td>
        <td ng-show="about.update_available" class="red">
          install manually
        </td>
        <!-- /UPDATE -->
      </tr>
    </table>

    <table border="0" ng-cloak>
      <tr>
        <th colspan="12">Modules</th>
      </tr>
      <tr ng-repeat="m in modules" ng-cloak>
        <td>{{m.type}}</td>
        <td><b>{{m.name}}</b></td>
        <td>{{m.version}}</td>
        <td>{{m.owner}}</td>
        <td>{{m.tag}}</td>
        <td ng-show="m.installing" class="orange">
          installing
        </td>
        <td ng-show="m.running" class="green">
          running
        </td>
        <td ng-hide="m.running || m.installing" class="red">
          stopped
        </td>
        <!-- UPDATE -->
        <td ng-hide="m.need_restart" class="green">
          up to date
        </td>
        <td ng-show="m.need_restart" class="orange">
          <a href="" ng-click="restart(m.path)">need restart</a>
        </td>
        <!-- /UPDATE -->
        <td>
          <a href="" ng-click="kill(m.path)" ng-show="m.running">kill</a>
          <a href="" ng-click="run(m.path)" ng-hide="m.running">run</a>
        </td>
        <td ng-show="m.running">
          <a href="" ng-click="restart(m.path)">restart</a>
        </td>
        <td>
          <a href="" ng-click="update(m.path)" 
                     ng-hide="m.need_restart">update</a>
        </td>
        <td>
          <a href="" ng-click="remove(m.path)">remove</a>
        </td>
        <td>
          <a href="#/out/{{m.name}}">out</a>
        </td>
      </tr>
    </table>

    <table border="0" ng-cloak>
      <tr>
        <th colspan="12">Install Modules</th>
      </tr>
      <tr>
        <td>
          <form ng-submit="install()">
            <input type="text" class="text" ng-model="install_path">
            <input type="submit" value="Install">
          </form>
        </td>
      </tr>
    </table>

    <div style="margin-top: 10px;">
      You can add `local:` or remote `github:` modules with the Install <br/>
      input above. The modules available for now are:<br/>
      <div style="color: hsl(72, 4%, 60%);">&nbsp;github:breach/mod_layout</div>
    </div>

  </div> <!-- /container -->
</div> <!-- /modules -->


