.stack {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background: -webkit-linear-gradient(top, 
                                      hsl(220, 12%, 10%), 
                                      hsl(220, 12%, 20%));
}


.stack .page {
  color: white;
  background-color: hsl(228, 14%, 14%);
  padding-top: 2px;
  height: 32px;
  line-height: 14px;
  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 1px solid hsl(228, 14%, 18%);
  cursor: pointer;
}

.stack .page:hover {
  background-color: hsl(228, 14%, 16%);
  border-bottom: 1px solid hsl(228, 14%, 20%);
}

.stack .page.active {
  background-color: hsl(228, 14%, 6%);
  border-bottom: 1px solid hsl(228, 14%, 20%);
}


.stack .page > .favicon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-right: 5px;
  background-color: hsl(228, 7%, 90%);
  border: 1px solid hsl(228, 14%, 12%);
  border-radius: 3px;
  background-size: cover;
}

.stack .page > .content {
  vertical-align: top;
  display: inline-block;
  width: 140px;
}

.stack .page > .content .title {
  font-weight: 100;
  font-size: 0.8em;
  margin-top: 7px;
  opacity: 0.8;
  text-shadow: 0px 0px 3px hsl(0, 0%, 0%);
}

.stack .page > .content .url {
  font-size: 0.8em;
  opacity: 0.7;
  letter-spacing: -1px;
}

.stack .page.pinned {
}
