<!doctype html>
<html lang="en" ng-app="breach">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Breach::LoginManagement</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/lib/normalize-2.1.2.css" rel="stylesheet"/>
  </head>

  <body ng-controller="LoginManagerTopCtrl">

    <div style="padding-top: 100px; padding-left: 100px;">
      <form ng-submit="auth()">
        <table>
          <tr>
            <td>`table_url`:</td>
            <td><input type="text" ng-model="table_url" size="40"></td>
          </tr>
          <tr>
            <td>`master`:</td>
            <td><input type="text" ng-model="master" size="40"></td>
          </tr>
          <tr>
            <td><input type="submit" value="New Session"></td>
          </tr>
        </table>
        <div style="margin-top: 20px; font-family: Courier; font-size: 0.7em;">
          <span id="response"></span>
        </div>
      </form>
    </div>

    <!-- Scripts -->
    <script src="/lib/angular-1.2.9.min.js"></script>
    <script src="/lib/jquery-2.1.0.min.js"></script>

    <script src="app.js"></script>

    <!-- Filters -->
    <script src="/js/filters.js"></script>

    <!-- Services -->
    <script src="/js/bind_s.js"></script>
    <script src="/js/req_s.js"></script>
    <script src="/js/login_s.js"></script>

  </body>
</html>


