<!doctype html>
<html lang="en" ng-app="breach">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Breach::ModuleManagement</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../lib/normalize-2.1.2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/fonts.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css" rel="stylesheet"/>
  </head>

  <body ng-controller="ModuleManagerTopCtrl"
        style="text-align: center;">

    <div style="display:inline-block;
                text-align: left;
                margin-top: 20px;">

      <div style="margin-top: 10px;">Breach:</div>
      <table border="1" 
             ng-cloak
             style="background-color: hsl(0, 0%, 60%);
                    font-family: Courier;
                    color: black;">
        <tr>
          <td>Breach</td>
          <td>{{auto_update.version}}</td>
          <td>running</td>
        </tr>
      </table>

      <div style="margin-top: 10px;">Modules:</div>
      <table border="1" 
             ng-cloak
             style="background-color: hsl(0, 0%, 60%);
                    font-family: Courier;
                    color: black;">
        <tr ng-repeat="m in modules" ng-cloak>
          <td>{{m.type}}</td>
          <td><b>{{m.name}}</b></td>
          <td>{{m.version}}</td>
          <td>{{m.owner}}</td>
          <td>{{m.tag}}</td>
          <td>{{m.installing ? 
                 'installing' : 
                 (m.running ? 'running' : 'stopped')}}</td>
          <td>
            <a href="" ng-click="kill(m.path)" ng-show="m.running">kill</a>
            <a href="" ng-click="run(m.path)" ng-hide="m.running">run</a>
          </td>
          <td>
            <a href="" ng-click="update(m.path)" 
                       ng-hide="m.need_restart">update</a>
            <a href="" ng-click="restart(m.path)" 
                       style="color: orange;"
                       ng-show="m.need_restart">restart</a>
          </td>
          <td>
            <a href="" ng-click="remove(m.path)">remove</a>
          </td>
          <td>
            file://{{m.out}}
          </td>
        </tr>
      </table>

      <div style="margin-top: 10px;">Module updates:</div>
      <table border="1" 
             ng-cloak
             style="background-color: hsl(0, 0%, 60%);
                    font-family: Courier;
                    color: black;">
        <tr ng-repeat="m in modules | filter: { need_restart: true }" ng-cloak>
          <td><b>{{m.name}}</b> was updated and needs restart</td>
          <td>
            <a href="" ng-click="restart(m.path)" 
                       style="color: orange;"
                       ng-show="m.need_restart">restart</a>
          </td>
        </tr>
        <tr ng-show="modules_no_update">
          <td>
            All modules are up to date
          </td>
        </tr>
      </table>

      <div style="margin-top: 10px;">Breach updates:</div>
      <table border="1" 
             ng-cloak
             style="background-color: hsl(0, 0%, 60%);
                    font-family: Courier;
                    color: black;">
        <tr ng-hide="auto_update.update_ready || auto_update.update_available">
          <td>Breach v{{auto_update.version}} is up to date</td>
        </tr>
        <tr ng-show="auto_update.update_available">
          <td>
            Breach v{{auto_update.update.version}} is available but 
            <span style="color: hsl(0, 80%, 40%);">
              could not be installed
            </span>
          </td>
        </tr>
        <tr ng-show="auto_update.update_ready">
          <td>Breach v{{auto_update.update.version}} is ready to be installed</td>
          <td>
            <a href="" ng-click="install_breach()" 
                       style="color: orange; font-weight: bold;">Install &amp; Restart</a>
          </td>
        </tr>
      </table>

      <div style="margin-top: 10px;">Install Modules:</div>
      <form ng-submit="install()">
        <input type="text" ng-model="install_path">
        <input type="submit" value="Install">
      </form>

      <div style="margin-top: 10px;">
        You can add `local:` or remote `github:` modules with the Install <br/>
        input above. The modules available for now are:<br/>
        <div style="color: hsl(72, 4%, 60%);">&nbsp;github:breach/mod_layout</div>
      </div>

      <div style="margin-top: 20px;
                  background-color: hsl(0, 0%, 10%);
                  border: 1px solid grey;
                  max-width: 500px;
                  color: white;"
                  ng-show="raw_output"
                  ng-bind-html="raw_output">
        {{raw_output}}
      </div>

    </div>

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular-1.2.9.min.js"></script>
    <script src="/lib/jquery-2.1.0.min.js"></script>
    <script src="/lib/async-0.9.0.min.js"></script>

    <script src="app.js"></script>

    <!-- Filters -->
    <script src="/js/filters.js"></script>

    <!-- Services -->
    <script src="/js/bind_s.js"></script>
    <script src="/js/req_s.js"></script>
    <script src="/js/socket_s.js"></script>
    <script src="/js/modules_s.js"></script>

  </body>
</html>


