html {
  margin-top: 0px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color: hsl(72, 4%, 90%);
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: hsl(72, 4%, 24%);
  height: 100%;
}

