* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: "Gotham Rounded", sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #757575;
}

h1, h3 {
	font-size: 2.4em;
	text-align: center;
}

h2, h4 {
	font-size: 1.6em;
	line-height: 1.3em;
	text-align: center;
}