@media (max-width: 960px) {
  #hero {
   	header {
   		width: 100%;
   		padding: 1em 2em;
   	}
  }
  #features {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    .col-4-12 {
      width: 33%;
    }
  }
  #tech {
    padding: 2em;

    .layers {
      display: block;
      margin-bottom: 2em;
    }
    .explanation {
      width: 100%;
      @include display-flex;
      @include flex-props(row wrap, space-between, space-between, flex-start);
      height: auto;

      article {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto;
        bottom: auto;
        width: 33%;
        height: auto;
        text-align: center;

        img {
          display: none;
        }

        div {
          position: relative !important;
          top: auto;
          left: auto;
          right: auto;
          bottom: auto;
          width: 100%;

          p {
            margin-left: 0;
          }

          h5 {
            padding: 8px 15px;
            &:before {
              position: absolute;
              bottom: auto;
              left: 50%;
              top: -28px;
              display: block;
              white-space: nowrap;
              margin-left: -35px;
            }
          }

          &:before,
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
  #footer {
    footer {
      header {
        width: 100%;
        padding: 2em;
      }
    }
  }
}

@media (max-width: 760px) {
  #hero {
   	figure {
   		width: 90%;
   	}
  }
  #features {
    display: block;

    .col-4-12 {
      width: auto;
      text-align: left;
      @include display-flex;
      @include flex-props(row wrap, flex-start, flex-start, center);
      img {
        width: 175px;
        height: auto;
      }
      div {
        flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        width: 100px;
        padding-left: 2em;
        margin: 1em 0;
      }
    }
  }
  #tech {
    .layers {
      width: 60%;
    }
    .explanation {
      display: block;
      article {
        width: 100%;
        margin-bottom: 2em;

        &:last-child {
          margin-bottom: 0;
        }
        div {
          padding: 0;
          h5 {
            padding: 0 20px 0 0;
            &:before {
              position: relative;
              top: auto;
              display: inline-block;
              left: -4px;
              margin-left: 0;
              bottom: 4px;
            }
          }
          &:last-child {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  #sessions {
    .multisessions {
      width: 80%;
      margin: 0 auto 2em;
      height: auto;
    }
    article {
      div {
        width: 100%;
        figure {
          width: 50%;
          margin-bottom: 2em;
        }
      }
    }
  }
  #footer {
    footer {
      header {
        display: block;
        text-align: center;
        width: 100%;

        ul {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 2em;
    line-height: 1.1em;
  }
  h4 {
    font-size: 1.3em;
  }
  #hero {
    h1 {
      font-size: 2em;
      line-height: 1em;
    }
    h2 {
      font-size: 1.3em;
    }
    #logo {
      margin: 0 auto;
    }
    header {
      display: block;
      padding-top: 2em;
      ul {
        padding: 0;
        text-align: center;
      }
    }
    figure {
      display: none;
    }
  }
  #features {
    padding: 2.5em 2em .5em;
    .col-4-12 {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0;

      img {
        width: 100%;
        max-width: 240px;
        margin-bottom: 0;
      }

      div {
        width: 100%;
        padding: 0;
        margin: 1em 0 2em;
      }
    }
  }
  #sessions {
    padding: 2em 0 0 0; 

    .notice {
      font-size: 1em;
      padding: 1em 2em;
      line-height: 1.3em;
    }
    header {
      padding: 0 2em;
    }
    article {
      padding: 2em;
      h4 {
        margin: 0 0 1.5em;
      }
      div {
        figure {
          width: 100%;
          margin-bottom: 1.5em;
        }
      }
    }
  }
  #footer {
    padding-top: 2em;
    header {
      padding: 0 2em;
    }
    div {
      margin-bottom: 2em;
      padding-bottom: 0;
    }
    footer {
      header {
        input {
          width: 80%;
          margin-bottom: 1em;
        }
        button {
          width: 80%;
          margin-left: 0;
          margin-bottom: 1em;
        }
      }
      hr {
        width: 80%;
      }
    }
  }
}